.box {
    border: 2px solid navy;
    border-radius: 10px;
    width: 225px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow:rgb(112, 112, 112) 2px 5px 10px 5px;
    background-color: rgb(214, 214, 214);
    margin: 0 auto;
    margin-top: 20px;
}
.flag {
    width: 90%;
    height: 100px;
}
.btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    box-shadow: 2px 1px 5px 1px;
}
.visited {
    background-color: coral;
}